<div class="container">
  <h3 class="text-center">{{ "search-victim.Inbox" | translate }}</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="srch_bar">
            <mat-form-field>
              <input matInput type="text" class="search-bar" [(ngModel)]="searchEmail" placeholder="{{
                  'search-victim.Search with email' | translate
                }}" [matAutocomplete]="singleAuto" (keydown.enter)="search(searchEmail)" />
              <span class="input-group-addon">
                <button type="button" (click)="search(searchEmail)">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
              <mat-autocomplete #singleAuto="matAutocomplete">
                <mat-option *ngIf="suggestions" (click)="appendinChatList()">
                  <img class="chat_img rounded-circle" [src]="suggestions.picture" [alt]="suggestions.name" />
                  <span class="ml-3">{{
                    suggestions.name ? suggestions.name : suggestions.email
                  }}</span>
                </mat-option>
                <mat-option *ngIf="!suggestions">
                  <span>{{ suggestionsError }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <mat-tab-group (selectedTabChange)="viewClick($event)">
          <mat-tab label="{{ 'search-victim.Inbox' | translate }}">
            <div class="inbox_chat">
              <div class="chat_list" *ngFor="let user of chatService.chatRoomIDs"
                [ngClass]="user.chatID == chatService.selectChatID ? 'active_chat' : ''">
                <div class="chat_people">
                  <div class="chat_ib" (click)="chatService.getMessages(user)">
                    <img class="chat_img rounded-circle" src="../../../../../assets/images/user-icon.png" alt="img" />
                    <div class="msg-head">
                      <span class="contact-name">{{ user.reciverName }}</span>
                      <span class="time-stamp float-right msg" *ngIf="user.timeStamp">{{ user.timeStamp | date }}</span>
                      <span class="msg d-block" *ngIf="user.lastMsg">
                        {{user.lastMsg.length > 36 ? (user.lastMsg | slice: 0:33) + "..." : user.lastMsg}}
                      </span>
                    </div>
                  </div>
                </div>
                <span class="badge badge-info">Init Date: {{user.chatInitDate | date}}</span>
                <button (click)="closeChat(user)" class="btn btn-success btn-close-chat">
                  Close Chat
                </button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'search-victim.Groups' | translate }}">
            <button mat-raised-button color="primary" class="d-block w-100" (click)="addUsersToCreateGroup()" data-toggle="modal"
              data-target="#createGroupModal">
              <i class="fas fa-user-plus"></i> Create New Group
            </button>
            <div class="inbox_chat">
              <div class="chat_list" *ngFor="let chat of chatService.groupChatRoom" (click)="chatService.getGroupsMessages(chat)" [ngClass]="
                  chat.GID == chatService.selectChatGID ? 'active_chat' : ''
                ">
                <div class="chat_people">
                  <div class="chat_ib">
                    <img class="chat_img rounded-circle" src="../../../../../assets/images/group-icon.png" [alt]="chat.groupName" />
                    <div class="group-inbox">
                      <h5>{{ chat.groupName }}</h5>
                      <div *ngIf="
                          chat.recentMessages.message &&
                          chat.recentMessages.sender
                        ">
                        <span class="sender">
                          {{ chat.recentMessages.sender | shorten: 7 }} :
                        </span>
                        <span class="msg">{{
                          chat.recentMessages.message | shorten: 33
                        }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="mesgs" *ngIf="view === 0">
        <div class="msg_history" #singleChatScroll [scrollTop]="singleChatScroll.scrollHeight">
          <!-- <div *ngIf="chatService.singleChatMesages > 0; else noChat"> -->
          <div *ngFor="let chat of chatService.singleChatMesages | async"
            [ngClass]="chatService.userMeta.uid == chat.senderID? 'outgoing_msg': 'incoming_msg'">

            <!-- {{chat.senderID}} -->
            <div class="received_withd_msg" [ngClass]="chatService.userMeta.uid == chat.senderID? 'sent_msg float-right': 'received_msg'">
              <p>{{ chat.text }}</p>
              <span class="time_date">
                {{chat.timeStamp | date: "medium"}}
                <span class="text-primary" *ngIf="chatService.userMeta.uid == chat.senderID">
                  <i class="fas fa-check-double"></i>
                </span>
              </span>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <ng-template #noChat>
          <div class="nochat-container">
            <div class="img" id="chat_inbox">
              <img *ngIf="this.darkmode.mode" src="../../../../../assets/images/monarch_horiz.png" alt="Logo" />
              <img *ngIf="!this.darkmode.mode" src="../../../../../assets/images/monarch_horiz_dark.png" alt="Logo" />
            </div>
            <h4>Monarch Police Dispatch</h4>
            <p>{{ "search-victim.Chat History" | translate }}</p>
          </div>
        </ng-template>
        <div class="type_msg">
          <div class="input_msg_write">
            <input [disabled]="chatService.selectChatID ? false : true" type="text" class="write_msg" (keydown.enter)="sendMessages()"
              placeholder="Type a message" [(ngModel)]="message" />
            <button class="msg_send_btn" type="button" (click)="sendMessages()" [disabled]="chatService.selectChatID ? false : true">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="mesgs" *ngIf="view === 1">
        <div class="msg_history" #groupChatScroll [scrollTop]="groupChatScroll.scrollHeight">
          <!-- <div *ngIf="chatService.groupChatRoomMsgs.length > 0; else noChat"> -->
          <div *ngFor="let chat of chatService.groupChatMessages | async"
            [ngClass]="chatService.userMeta.uid == chat.senderID? 'outgoing_msg': 'incoming_msg'">
            <div class="received_withd_msg" [ngClass]="chatService.userMeta.uid == chat.senderID? 'sent_msg float-right': 'received_msg'">
              <span class="sender">{{ chat.senderEmail }}</span>
              <p>{{ chat.message }}</p>
              <span class="time_date">
                {{chat.timeStamp | date: "medium"}}
              </span>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <ng-template #noChat>
          <div class="nochat-container">
            <div class="img" id="chat_group">
              <img *ngIf="this.darkmode.mode" src="../../../../../assets/images/monarch_horiz.png" alt="Logo" />
              <img *ngIf="!this.darkmode.mode" src="../../../../../assets/images/monarch_horiz_dark.png" alt="Logo" />
            </div>
            <h4>Monarch Police Dispatch</h4>
            <p>Chat between Victim and Officer</p>
          </div>
        </ng-template>
        <div class="type_msg">
          <div class="input_msg_write">
            <input [disabled]="chatService.selectChatGID ? false : true" type="text" class="write_msg" (keydown.enter)="sendGroupMessage()"
              placeholder="Type a message" [(ngModel)]="message" />
            <button class="msg_send_btn" type="button" (click)="sendGroupMessage()" [disabled]="chatService.selectChatGID ? false : true">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p-1">
        <p class="modal-title" id="exampleModalLongTitle">Add Members</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field class="mt-2">
          <input matInput type="text" [(ngModel)]="groupName" placeholder="Group Name" />
        </mat-form-field>

        <div class="w-100" *ngIf="members.length > 0">
          <span class="members" *ngFor="let member of members; let ind = index">
            <img class="chat_img rounded-circle" [src]="member?.picture" [alt]="member?.name" />
            <span class="ml-1">{{
              member?.name ? member?.name : member?.email
            }}</span>
            <i class="fas fa-times-circle" (click)="members.splice(ind, 1)"></i>
          </span>
        </div>

        <mat-form-field class="mt-2">
          <input matInput type="text" class="search-bar" [(ngModel)]="searchEmail" placeholder="Search with email" [matAutocomplete]="groupAuto"
            (keydown.enter)="search(searchEmail)" />
          <span class="input-group-addon">
            <button type="button" (click)="search(searchEmail)">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
          <mat-autocomplete #groupAuto="matAutocomplete">
            <mat-option *ngIf="suggestions" (click)="addUsersToCreateGroup()">
              <img class="chat_img rounded-circle" [src]="suggestions.picture" [alt]="suggestions.name" />
              <span class="ml-3">{{
                suggestions.name ? suggestions.name : suggestions.email
              }}</span>
            </mat-option>
            <mat-option *ngIf="!suggestions">
              <span>{{ suggestionsError }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createGroup()" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-user-plus"></i> Create Group
        </button>
      </div>
    </div>
  </div>
</div>