.dashboard-main {
  background-color: #fff;
  /* min-height: 100vh; */
  border-radius: 10px;
}

.dashboard-container {
  width: 100%;
  overflow-x: hidden;
}

.notification {
  min-width: 200px;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
}
