.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.main-table {
  overflow: auto;
  width: 100%;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 5px;
  white-space: nowrap;
}

th.mat-header-cell {
  font-weight: 600;
  font-size: 14px;
  background-color: #9cbbf5;
}
