<div class="container-fluid" *ngIf="searchService.victimDetails">
  <div class="row">
    <div class="col-md-12 shadow p-2 mb-4">
      <button class="mr-2" color="primary" mat-raised-button routerLink="/search/search-victim">
        <i class="fas fa-arrow-left"></i> Back
      </button>

      <button class="edit-btn" color="primary" mat-raised-button
        (click)="editUserDetails(searchService.victimDetails)">Edit</button>
    </div>
    <div class="col-md-3 text-center">
      <!-- <img class="profile-img" src="../../../../assets/images/user.png" alt="" width="150px" /> -->
      <h4>License # {{ (searchService.victimDetails.driverLicenseNumber) }}</h4>
      <img [src]="searchService.victimDetails.drivingLicense" alt="" width="200px" />
    </div>
    <div class="col-md-4">
      <h3>
        {{ checkFields(searchService.victimDetails.firstName) }}
        {{ checkFields(searchService.victimDetails.middleInitial) }}
        {{ checkFields(searchService.victimDetails.lastName) }}
      </h3>
      <h5>{{ checkFields(searchService.victimDetails.address) }}</h5>
      <br />
      <br />
      <p class="section-title">{{ "victim-detail.PERSONAL" | translate }}</p>
      <table class="w-100">
        <tr>
          <td class="cell-title">{{ "victim-detail.Title" | translate }}</td>
          <td>{{ checkFields(searchService.victimDetails.address) }}</td>
        </tr>
        <tr>
          <td class="cell-title">
            {{ "register-victim.First Name" | translate }}
          </td>
          <td>{{ checkFields(searchService.victimDetails.firstName) }}</td>
        </tr>
        <tr>
          <td class="cell-title">
            {{ "register-victim.Last Name" | translate }}
          </td>
          <td>{{ checkFields(searchService.victimDetails.lastName) }}</td>
        </tr>
        <tr>
          <td class="cell-title">{{ "register-victim.Gender" | translate }}</td>
          <td>{{ checkFields(searchService.victimDetails.gender) }}</td>
        </tr>
        <tr>
          <td class="cell-title">{{ "victim-detail.age" | translate }}</td>
          <td>{{ getAge(searchService.victimDetails.DOB) }}</td>
        </tr>
        <!-- <tr>
          <td class="cell-title">{{ "header-tab.Language" | translate }}</td>
          <td>English</td>
        </tr> -->
        <tr>
          <td class="cell-title">{{ "victim-detail.phone" | translate }}</td>
          <td>
            {{ checkFields(searchService.victimDetails.cellNumber) | formater }}
          </td>
        </tr>
        <!-- <tr>
          <td class="cell-title">{{ "victim-detail.Company" | translate }}</td>
          <td>Amazon, Inc.</td>
        </tr> -->

        <br />

        <tr>
          <td class="cell-title">{{ "register-victim.Address" | translate }}1</td>
          <td>{{ checkFields(searchService.victimDetails.address) }}</td>
        </tr>
        <tr>
          <td class="cell-title">{{ "register-victim.Address" | translate }}2</td>
          <td>{{ checkFields(searchService.victimDetails.address) }}</td>
        </tr>
        <!-- <tr>
          <td class="cell-title">
            {{ "victim-detail.city" | translate }},
            {{ "victim-detail.city" | translate }}
          </td>
          <td>Seattle, WA</td>
        </tr> -->
        <tr>
          <td class="cell-title">{{ "victim-detail.zip code" | translate }}</td>
          <td>98122</td>
        </tr>
        <tr>
          <td class="cell-title">{{ "victim-detail.country" | translate }}</td>
          <td>USA</td>
        </tr>
      </table>

      <!-- <hr />
      <p class="section-title">
        {{ "victim-detail.others" | translate }}<span>(3)</span>
      </p>
      <table class="w-100">
        <tr>
          <td class="cell-title">{{ "victim-detail.kids" | translate }}</td>
          <td>2</td>
        </tr>
        <tr>
          <td class="cell-title">{{ "victim-detail.pets" | translate }}</td>
          <td>1(Small dog)</td>
        </tr>
        <tr>
          <td class="cell-title">
            {{ "victim-detail.ANNIVERSARY" | translate }}
          </td>
          <td>Oct 15</td>
        </tr>
      </table> -->
    </div>
    <div class="col-md-5">
      <div class="map">
        <agm-map [latitude]="centerLng" [longitude]="centerLat" [zoom]="zoom" [fitBounds]="true">
          <div *ngFor="let m of positions; let i = index">
            <agm-marker #marker [latitude]="m.lat" [iconUrl]="m.icon" [longitude]="m.lng" [agmFitBounds]="true">
              <agm-info-window [disableAutoPan]="true">
                <strong>lat: {{ m.lat }}, lng: {{ m.lng }}</strong>
              </agm-info-window>
            </agm-marker>
            <agm-circle [latitude]="m.lat" [longitude]="m.lng" [radius]="m.radius" [fillColor]="m.color"></agm-circle>
          </div>
        </agm-map>
      </div>

      <p class="section-title">
        {{ "victim-detail.STATUS" | translate }}<span>(1)</span>
      </p>
      <table class="w-100">
        <tr>
          <td class="cell-title">{{ "register-victim.Email" | translate }}</td>
          <td>
            {{ checkFields(searchService.victimDetails.email) }}
            <i class="fas fa-pen"></i>
          </td>
        </tr>
        <tr>
          <td class="float-right"></td>
        </tr>
        <!-- <tr>
          <td class="cell-title">
            {{ "victim-detail.subsciption status" | translate }}
          </td>
          <td>EXPLICIT CONSENT <i class="fas fa-pen"></i></td>
        </tr>
        <tr>
          <td class="cell-title">{{ "victim-detail.vip status" | translate }}</td>
          <td>VIP</td>
        </tr>
        <tr>
          <td class="cell-title">{{ "victim-detail.membership" | translate }}</td>
          <td>-</td>
        </tr>
        <tr>
          <td class="cell-title">BADGE(S) <i class="fas fa-plus-circle"></i></td>
          <td>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip color="primary" selected>Spa Lover</mat-chip>
              <mat-chip color="primary" selected>High floors</mat-chip>
            </mat-chip-list>
          </td>
        </tr> -->
      </table>

      <!-- <br /><br />
      <p class="section-title">
        {{ "victim-detail.notes" | translate }}<span>(3)</span>
      </p>
      <div>
        <div class="cell-title">
          5/12/2016 11:20:50 AM (Avertine San Francisco)
        </div>
        <div>Light Sleeper - needs higher floors.app-incident-report</div>
      </div>
      <div>
        <div class="cell-title">2/27/2015 7:10:20 PM (Palpatine Mexico)</div>
        <div>Prefers softer pillows, extra blankets and towels.</div>
      </div> -->
    </div>
  </div>
</div>

<div class="text-center not-found pt-5" *ngIf="!searchService.victimDetails">
  <h3>{{ "first-search-tab.Please select a victim first" | translate }}</h3>
</div>
