<form [formGroup]="registerCity">
  <div class="container-fluid pt-2">
    <mat-chip-list class="mt-2" aria-label="header">
      <mat-chip color="primary" selected>
        <h3 class="m-0 text-white p-1">
          {{"Register City" | translate}}
        </h3>
      </mat-chip>
    </mat-chip-list>
    <div class="row mt-2">
      <div class="col-lg-6">
        <mat-form-field appearance="">
          <mat-label>{{"City Name" | translate}}</mat-label>
          <input matInput formControlName="cityName">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="">
          <mat-label>{{"City Code" | translate}}</mat-label>
          <input matInput formControlName="cityCode">
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="">
          <mat-label>{{"Phone Number" | translate}}</mat-label>
          <input matInput (keyup)="formateNumber()" formControlName="phoneNumber">
        </mat-form-field>
      </div>
      <!-- <div class="col-lg-6">
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="chief">Chief</mat-option>
            <mat-option value="supervisor">Supervisor</mat-option>
            <mat-option value="dispatcher">Dispatcher</mat-option>
            <mat-option value="assistant">Assistant</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select formControlName="cityCode">
            <mat-option value="newyork">New York</mat-option>
            <mat-option value="guaynabo">Guaynabo</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="col-lg-12">
        <button mat-raised-button *ngIf="!cityService.city" (click)="submit()" color="primary" type="submit">{{"SignUp.placeholders.Register"| translate}}</button>
        <button mat-raised-button *ngIf="cityService.city" (click)="update()" color="primary" type="submit">{{"button.Update" | translate}}</button>
        <button mat-raised-button (click)="reset()" class="ml-2" color="primary">{{"resetPassword.reset" | translate}}</button>
      </div>
    </div>
  </div>
</form>

