.nav-link {
  margin: 10px 0;
  width: 50px;
  font-size: 25px;
  background-color: transparent;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav {
  margin-top: 70px;
}

.activeLink {
  background-color: #fff;
  color: #000;
}
