<div class="dashboard-container">
  <div class="row mb-4">
    <div class="ml-4 p-0">
      <div class="nav flex-column float-right" role="tablist" aria-orientation="vertical">
        <a class="nav-link" routerLink="/officer" routerLinkActive="activeLink"><i class="fas fa-users"></i></a>
        <a class="nav-link" routerLink="/city" routerLinkActive="activeLink"><i class="fas fa-building"></i></a>
        <!-- <a class="nav-link" routerLink="/inbox" routerLinkActive="activeLink"><i class="fas fa-comments"></i></a>
        <a class="nav-link" routerLink="/location" routerLinkActive="activeLink"><i class="fas fa-map-marker-alt"></i></a> -->
      </div>
    </div>
    <div class="col-md-11 p-0 dashboard-main">
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="notification">
      <app-sos-sidebar></app-sos-sidebar>
    </div> -->
  </div>
</div>